*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fc;
    color:#333;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#0f172a;
    color:white;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

#themeBtn{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#38bdf8;
    color:white;
}

/* Hero */

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#2563eb,#06b6d4);
    color:white;
    padding:30px;
}

.hero-content{
    max-width:750px;
}

.hero h1{
    font-size:52px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.search-box{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
}

.search-box input{
    width:350px;
    padding:15px;
    border:none;
    border-radius:8px;
}

.search-box button{
    padding:15px 30px;
    border:none;
    border-radius:8px;
    background:#0f172a;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.search-box button:hover{
    background:white;
    color:#0f172a;
}

/* Mobile */

@media(max-width:768px){

.navbar{
flex-direction:column;
gap:15px;
}

.nav-links{
flex-direction:column;
text-align:center;
}

.hero h1{
font-size:36px;
}

.search-box input{
width:100%;
}

}
